:global {
    .headroom-wrapper {
        z-index: 2100;
    }

    .header > .headroom-wrapper {
        height: 0 !important;
    }

    .header > .headroom {
        transition: transform 200ms linear;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 1px 2px 10px rgba(0, 0, 0, 0.3);
    }

    .header > .headroom--pinned {
        transform: translateY(0%);
        height: 60px !important;
        /* padding-top: 7px; */
        border-bottom: 1px #eeefff solid;
        background-color: white;
        z-index: 3;
    }

    .header > .headroom--unpinned {
        transform: translateY(-100%);
        top: -16px;
    }

    .header > .headroom--unfixed {
        height: 60px !important;
        background-color: white;
        /* padding-top: 7px; */
    }

    .headroom--scrolled {
        transition: transform 200ms ease-in-out;
    }

    .footer {
        bottom: 0;
        width: 100%;
        z-index: 2;
    }

    .footer > .headroom--unfixed {
        height: 60px !important;
        background-color: white;
        /* padding-top: 7px; */
    }

    .footer.headroom-wrapper {
        height: 0;
    }

    .footer > .headroom {
        transition: transform 200ms linear;
        position: fixed;
        left: 0;
        right: 0;
        bottom: -63px;
        /* equal to height of footer */
        z-index: 1;
        border-top: 1px rgba(158, 158, 162, 0.42) solid;
    }

    .footer > .headroom--pinned {
        transform: translateY(-100%);
    }

    .footer > .headroom--pinned > div {
        padding: 10px !important;
    }

    .footer > .headroom--unpinned {
        transform: translateY(0%);
    }
}
