@font-face {
    font-family: 'Montserrat Arabic';
    font-display: auto;
    src: url('../../../static/font/MontserratArabic/Montserrat-Arabic-Light.eot');
    src: url('../../../static/font/MontserratArabic/Montserrat-Arabic-Light.eot?#iefix') format('embedded-opentype'),
        url('../../../static/font/MontserratArabic/Montserrat-Arabic-Light.woff2') format('woff2'),
        url('../../../static/font/MontserratArabic/Montserrat-Arabic-Light.woff') format('woff');
}
