@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

:global {
    .nprogress-custom-parent {
        overflow: hidden;
        position: relative;
    }

    /* Make clicks pass-through */
    #nprogress {
        pointer-events: none;
    }

    #nprogress .bar {
        background: #7fcce1;
        height: 3px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3000;
    }

    /* Fancy blur effect */
    #nprogress .peg {
        box-shadow: 0 0 10px #7fcce1, 0 0 5px #7fcce1;
        display: block;
        height: 100%;
        opacity: 1;
        position: absolute;
        right: 0;
        transform: rotate(3deg) translate(0, -4px);
        width: 100px;
    }

    /* Remove these to get rid of the spinner */
    #nprogress .spinner {
        display: block;
        position: fixed;
        right: 15px;
        top: 15px;
        z-index: 1031;
    }

    .nprogress-custom-parent #nprogress .spinner,
    .nprogress-custom-parent #nprogress .bar {
        position: absolute;
    }
}

:global(#nprogress .spinner-icon) {
    animation: nprogress-spinner 400ms linear infinite;
    border: solid 2px transparent;
    border-left-color: #7fcce1;
    border-radius: 50%;
    border-top-color: #7fcce1;
    box-sizing: border-box;
    height: 18px;
    width: 18px;
}
